:root {
  font-family: 'Manrope', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #141414;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

h1 {
  font-size: 56px;
  text-transform: uppercase;
  line-height: 58px;
  letter-spacing: 2px;
  font-weight: bold;
}

h2 {
  font-size: 40px;
  text-transform: uppercase;
  line-height: 44px;
  letter-spacing: 1.5px;
  font-weight: bold;
}

h3 {
  font-size: 32px;
  text-transform: uppercase;
  line-height: 36px;
  letter-spacing: 1.15px;
  font-weight: bold;
}

h4 {
  font-size: 28px;
  text-transform: uppercase;
  line-height: 38px;
  letter-spacing: 2px;
  font-weight: bold;
}

h5 {
  font-size: 24px;
  text-transform: uppercase;
  line-height: 33px;
  letter-spacing: 1.7px;
  font-weight: bold;
}

h6 {
  font-size: 18px;
  text-transform: uppercase;
  line-height: 24px;
  letter-spacing: 1.3px;
  font-weight: bold;
}

.text-overline {
  font-size: 14px;
  text-transform: uppercase;
  line-height: 19px;
  letter-spacing: 10px;
  font-weight: normal;
}

.text-subtitle {
  font-size: 13px;
  text-transform: uppercase;
  line-height: 25px;
  letter-spacing: 1px;
  font-weight: bold;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
